
.minListe {
  margin: 0 10px;
  .addNewWish {
    display: flex;
    justify-content: center;

    .addNewWishButton {
      align-self: center;
      margin-left: 10px;
    }
  }

  .minOnskeliste {

    .wishIconMenu {
      //margin-left: 150px;
    }
  }
}

