.ProfilSide {
  display: flex;
  justify-content: center;
  &__egne-maal {
    margin: 10px 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    background-color: rgba(208, 249, 204, 0.47);
    padding-bottom: 15px;
    box-shadow: 0 5px 5px 0 rgba(128, 128, 128, 0.5);
    max-width: 1000px;

    &__infotekst {
      font-size: small;
    }
  }
}
