.App {
  text-align: center;
}
.App .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.onskeKjopt {
  background: #d3b6b3;
}
.onskeKjopt.kjoptAvDeg {
  background: #add3a9;
}
.onskeKjopt .onskeKjoptTekst {
  font-style: italic;
}
.minListe {
  margin: 0 10px;
}
.minListe .addNewWish {
  display: flex;
  justify-content: center;
}
.minListe .addNewWish .addNewWishButton {
  align-self: center;
  margin-left: 10px;
}
.minListe .minOnskeliste .wishText {
  max-width: 80%;
}
@media only screen and (max-width: 400px) {
  .minListe .minOnskeliste .wishText {
    max-width: 60%;
  }
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
html,
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  background: #f4f4f4;
  flex-grow: 2;
}
